[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.{yaml,yml}]
indent_size = 2
indent_style = space

[*.py]
indent_size = 4
indent_style = space

[*.html]
indent_style = space
indent_size = 2

[*.{js,jsx,ts,tsx}]
indent_style = space
indent_size = 2

[{*.json,.parcelrc}]
indent_style = space
indent_size = 2
